* {
  margin: o;
  padding: 0;
}

.container {
  background-image: url("../images/Banner\ Image.png");
  border-radius: 16px;
  background: linear-gradient rgba(7, 2, 17, 0.00) 100%);
  background-repeat: no-repeat;
  /* width: 82.5%; */
  align-items: center;
  background-position: center;
}

.banner-text {
  text-align: center;
  color: #fff;

}